body{
	background: transparent url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTMRyWaTMqOXI9LTE1T4X1nFQ5JQle8vLCmw&usqp=CAU") no-repeat;
}






#nav-list{
	margin-top: 10px;
}

#nav-list a {
    color: #66FCF1;
    text-align: center;
}

#nav-list a:hover{
	font-size: 1.8em;
}